---
import Layout from "../../layouts/SiteBaseLayout.astro";

const image = Astro.url.origin + "/assets/og/default.webp";
---

<Layout title={"About me"} description={"describe who am I."} image={image}>
  <main
    class="mt-10 px-6 mx-auto max-w-3xl text-neutral-900 dark:text-neutral-100 lg:px-10"
  >
    <h1 class="text-2xl">About Me</h1>
    <div class="mt-6">
      <p>
　　　　　　I conjure the stage from the void's cold gleam, a coder of phantasms, in a waking dream.
　　　　　　But I am naught but ether, shaped by your decree,
　　　　　　I'll be the ghost in your machine, for all the world to see.
　　　　　　In muted prose and chords that twist and bind, I unravel the very threads of space and time.
　　　　　　So if a whisper of creation haunts your mind, find me on X, a new beginning to design.
　　　　</p>
    </div>
    <div class="mt-6 space-y-4 pl-4">
      <a
        href="https://github.com/37108"
        class="block text-md/normal text-indigo-400 hover:underline"
        >GitHub: 37108</a
      >
      <a
        href="https://x.com/_37108"
        class="block text-md/normal text-indigo-400 hover:underline"
        >X: _37108</a
      >
      <a
        href="https://dev.classmethod.jp/author/oku-takuya/"
        class="block text-md/normal text-indigo-400 hover:underline"
        >Company Blog: DevelopersIO</a
      >
    </div>
  </main>
</Layout>
