---
import { getCollection } from "astro:content";
import Layout from "../../layouts/SiteBaseLayout.astro";

export async function getStaticPaths() {
  const collection = await getCollection("anygram");

  return [
    {
      params: {
        path: undefined,
      },
    },
  ];
}

const { path } = Astro.params;

const anygrams = await getCollection("anygram");
const image = Astro.url.origin + "/assets/og/default.webp";
---

<Layout title="articles" description="all articles" image={image}>
  <main
    class="px-6 mx-auto max-w-3xl min-h-dvh text-neutral-900 dark:text-neutral-100 md:mt-20 lg:px-10">
    <h1 class="pb-2 border-b border-neutral-800 dark:border-neutral-200">
      Anygrams
    </h1>
    <ul class="flex flex-col gap-1.5 mt-2">
      {
        anygrams.map((anygrams) => (
          <li class="flex w-full hover:text-neutral-700 dark:hover:text-neutral-500">
            <a class="w-full" href={`/anygrams/${anygrams.id}`}>
              {anygrams.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
