@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Zen+Kaku+Gothic+Antique&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Poiret One";
}

html {
  font-family: "Montserrat", "Zen Kaku Gothic Antique", sans-serif;
  font-feature-settings: "palt" 1;
}