---
export interface Props {
  title: string;
  date: Date;
  image: string;
  href: string;
}

const { href, title, image, date } = Astro.props;

const formattedDate = Intl.DateTimeFormat("ja-JP", {
  dateStyle: "short",
}).format(date);
---

<a
  href={href}
  class="grid grid-rows-subgrid row-span-3 gap-2 text-text hover:opacity-50">
  <img
    src={image}
    alt=""
    loading="lazy"
    decoding="async"
    class="w-full h-auto aspect-video object-cover card-image"
  />
  <p class="text-xl line-clamp-2">{title}</p>
  <p class="text-base text-text-muted text-right">{formattedDate}</p>
</a>

<style>
  .card-image {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
  }
</style>
