---
import { getCollection } from "astro:content";
import Layout from "../../layouts/HeadLayout.astro";
import "reveal.js/reveal.css";
import "reveal.js/theme/black.css";
import "reveal.js/plugin/highlight/monokai.css";

export async function getStaticPaths() {
  const entries = await getCollection("slide");

  return entries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const image = Astro.url.origin + `/og/slide/${entry.id}.png`;
---

<Layout title={entry.data.title} description="" image={image}>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <textarea data-template set:html={entry.body} />
      </section>
    </div>
  </div>
</Layout>

<script>
  import Reveal from "reveal.js";
  import Markdown from "reveal.js/plugin/markdown";
  import RevealHighlight from "reveal.js/plugin/highlight";

  const reveal = document.querySelector(".reveal");
  if (reveal) {
    const deck = new Reveal({
      plugins: [Markdown, RevealHighlight],
    });
    deck.initialize({ controls: false, center: true });
  }
</script>
